@inherits ReactiveUI.Blazor.ReactiveInjectableComponentBase<PropertyGridVM>

@namespace LionFire.Blazor.Components.MudBlazor_

@if (ViewModel.ShowTitle)
{
    <h3>@ViewModel.Title</h3>
}

@if (DevMode)
{
    <div>Type: @Object?.GetType().Name</div>
}

<MudSimpleTable>
    @foreach (var member in ViewModel.TypeModel.Members)
    {
        <tr>
            <td>@member.GetType().Name.Substring(0, 1)</td>
            <td>@member.Type?.Name</td>
            <td>@member.Name</td>
            <td>@member.GetValue(Object)</td>

        </tr>
    }
</MudSimpleTable>


@code {
    [CascadingParameter]
    protected bool DevMode { get; set; }

    [Parameter]
    public object Object { get; set; }

    protected override Task OnParametersSetAsync()
    {
        ViewModel.Object = Object;

        return base.OnParametersSetAsync();
    }
}
