@using CircularBuffer
@using DynamicData
@using Microsoft.AspNetCore.Components.QuickGrid
@* @using MudBlazor.Components *@

@* TODO: Probably use MudDataGrid or something else.  Try to get per-row classes, to style Info differently from Debug, etc. *@

<button @onclick=ViewModel.Clear>Clear</button>

<div class="Lines" style="@Style">
    <QuickGrid TGridItem="LogEntry" Items="@ViewModel.Lines.Items.AsQueryable()" Virtualize="true" Class="LogView">
        <PropertyColumn Property="@(c => c.LocalTimestamp)" Title="Time" Format="HH:mm:ss.fff" Class="timestamp" />
        <PropertyColumn Property="@(c => c.LevelAbbreviation)" Title="" Class="level" />
        <PropertyColumn Property="@(c => c.ShortCategory)" Title="Category" Class="Category" />
        <PropertyColumn Property="@(c => c.Text)" Title="Message" Class="message" />
    </QuickGrid>
</div>


