@page "/packages"
@inject DocumentService DocumentService
@using Microsoft.AspNetCore.Components.QuickGrid
@using ReactiveUI
@using Semver
@rendermode InteractiveServer

<h3>Packages</h3>

@* <button @onclick="@(() => Test(null))">Upgrade</button> *@
<Microsoft.FluentUI.AspNetCore.Components.FluentButton @onclick="() => OnUpgrade()">Upgrade</Microsoft.FluentUI.AspNetCore.Components.FluentButton>
<Microsoft.FluentUI.AspNetCore.Components.FluentButton @onclick="() => DocumentService.ScanNuget(true)">Rescan Nuget</Microsoft.FluentUI.AspNetCore.Components.FluentButton>

<QuickGrid Items="@packages" Class="PackagesGrid">
    @* <PropertyColumn Property="@(p => p.PackageId)" Sortable="true" /> *@
        <TemplateColumn Title="Package">
        <a href=@($"https://www.nuget.org/packages/{context.PackageId}/")>@context.PackageId</a>

        </TemplateColumn>
    @* <PropertyColumn Property="@(p => p.Current)" Sortable="true" /> *@
    <TemplateColumn Title="Current">
        @foreach (var item in context.Current.DistinctBy(x => x.Version))
        {
            <div title="@item.ProjectName">@item.Version</div>
        }
    </TemplateColumn>

    <TemplateColumn Title="">
        @if (context.Release != null)
        {
            <button class="ArrowButton" @onclick="@(() => UpgradeSingle(context))" style="font-size: 20px;">⮕</button>
        }
    </TemplateColumn>
    <PropertyColumn Property="@(p => p.Release)" Sortable="true" />

    <TemplateColumn Title="">
        @if (context.Prerelease != null)
        {
            <button class="ArrowButton" @onclick="@(() => UpgradeSingle(context, prerelease: true))" style="font-size: 20px;">⮕</button>
        }
    </TemplateColumn>
    <PropertyColumn Property="@(p => p.Prerelease)" Sortable="true" />
</QuickGrid>


@code {
    private record Package(string PackageId, List<ExistingPackageVersion> Current, string? Release, string? Prerelease);

    private IQueryable<Package> packages = new Package[] { }.AsQueryable();

    public bool ShowUpToDatePackages { get; set; } = false;
    public bool ShowPrerelease { get; set; } = false;

    private async Task UpgradeSingle(Package x, bool prerelease = false)
    {
        Console.WriteLine($"Upgrading {x.PackageId}");
        await DocumentService.Upgrade(pretend: false, major: true, singlePackageId: x.PackageId, prerelease: prerelease);
        await DocumentService.TryLoad();
        StateHasChanged();
    }

    public Task OnUpgrade() => DocumentService.Upgrade(pretend: false, major: true);

    private void Refresh()
    {
        List<Package> result = new();
        var d = DocumentService.Document;

        foreach (var kvp in d.CurrentPackageVersions)
        {
            var id = kvp.Key;
            var current = kvp.Value;
            var releaseAvailable = d.AvailablePackageVersions.TryGetValue(id);
            var prereleaseAvailable = d.AvailablePrereleasePackageVersions.TryGetValue(id);
            if (prereleaseAvailable?.ToString() == releaseAvailable?.ToString()) prereleaseAvailable = null;

            // if (prereleaseAvailable != null && releaseAvailable != null && SemVersion.Parse(prereleaseAvailable, SemVersionStyles.Any).ComparePrecedenceTo(SemVersion.Parse(releaseAvailable, SemVersionStyles.Any)) < 0)
            // {
            //     prereleaseAvailable = null;
            // }

            bool hasReleaseAvailable = false;
            bool hasPrereleaseAvailable = false;

            foreach (var currentItem in current)
            {
                if (releaseAvailable != currentItem.Version) hasReleaseAvailable = true;
                if (prereleaseAvailable != null && prereleaseAvailable != currentItem.Version) hasPrereleaseAvailable = true;

            }
            if (!hasReleaseAvailable) { releaseAvailable = null; }
            if (!hasPrereleaseAvailable) { prereleaseAvailable = null; }

            if (!ShowUpToDatePackages)
            {
                if (!ShowPrerelease && releaseAvailable == null) continue;
                else if (releaseAvailable == null && prereleaseAvailable == null) continue;
            }
            result.Add(new Package(id, kvp.Value, releaseAvailable, prereleaseAvailable));
        }
        packages = result.AsQueryable();
    }

    protected override Task OnInitializedAsync()
    {
        Refresh();


        return base.OnInitializedAsync();
    }
}
