@page "/v/{*path}"
@page "/v"
@namespace LionFire.Vos.Blazor

@using LionFire.Referencing
@using LionFire.Threading
@inject IServiceProvider ServiceProvider
@inject IVos  rootManager
@inject NavigationManager navManager
@*@inject Microsoft.Extensions.Logging.ILogger<string> logger*@
@inject ILogger<VosExplorer> Logger

@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Logging
@using LionFire.Persistence
@using System.Reflection
@using LionFire.Resolves
@using MudBlazor 

<MudIconButton Icon="@Icons.Material.Filled.ArrowBackIos" Style="@("opacity:" + (History.Count == 0 ? "0.2" : "1"))" @onclick=@Back></MudIconButton>
<MudIconButton Icon="@Icons.Material.Filled.ArrowForwardIos" Style="@("opacity:" + (ForwardHistory.Count == 0 ? "0.2" : "1"))" @onclick=@Forward></MudIconButton>
<MudIconButton Icon="@Icons.Material.Filled.Refresh" @onclick=@Refresh></MudIconButton>


<i class="fas fa-angle-double-down"></i>
<div>@Path</div>
@if (listings == null)
{
    <p><em>Loading... @Path</em></p>
}
else
{
    <h3>@Root</h3>
    <button @onclick="@(e=> GoToPath(".."))"><span class="oi oi-arrow-top" /></button>
    <button @onclick="@(e=> Refresh())"><span class="oi oi-reload" /></button>
    <div>@Path</div>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Type</th>
                @*<th>Dir</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var listing in listings)
            {
                <tr>
                    <td>
                        <span @onclick="@(e => GoToPath(listing.Name))" class="@IconClasses(listing)" aria-hidden="true" data-glyph="battery-empty"></span>
                    </td>
                    <td>@listing.Name</td>
                    <td>@listing.Type</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>

    @if (CurrentObject != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pi in CurrentObject.GetType().GetProperties(BindingFlags.Instance | BindingFlags.Public))
                {
                    <tr>
                        <td>
                            @*<span @onclick="@(e => GoToPath(listing.Name))" class="@IconClasses(listing)" aria-hidden="true"></span>*@
                        </td>
                        <td>@pi.Name</td>
                        <td>@pi.GetValue(CurrentObject)</td>
                        @*<td></td>*@
                    </tr>
                }
            </tbody>
        </table>
    }
}


